body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

.container {
    border: solid;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.row {
    display: flex;
    flex: 1;    
}
.box {
    display: flex;
    width: 100%;
    height: 100%;
}